<app-header [headerText]="'Cart'" [headerSize]="3"></app-header>

<app-link
  [linkText]="'Shipping Prices'"
  [linkTitle]="'Shipping Prices détails'"
  routerLink="/shipping"
></app-link>

<div class="cart-item" *ngFor="let item of items">
  <app-span [spanText]="item.name"></app-span>
  <app-span [spanText]="item.price | currency"></app-span>
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <div>
    <app-label for="name" [labelText]="'Name'"></app-label>
    <input id="name" type="text" formControlName="name" />
  </div>

  <div>
    <app-label for="address" [labelText]="'Address'"></app-label>
    <input id="address" type="text" formControlName="address" />
  </div>

  <button class="button" type="submit">Purchase</button>
</form>
